# Ignorar PDFs
*.pdf

# Ignorar ejecutables
*.exe
*.out
*.run

# Ignorar todos los archivos compilados (en Linux)
*.o

# Ignorar archivos específicos
EJEMPLOS/Parra_Agustin_HolaMundo
EJEMPLOS/ejemplo2.cpp
